@media screen and (min-width: 768px) {
	/* HEADER */
	.header__menu {
		padding: 18px 24px;
	}

	.main-list {
		gap: 43px;
	}

	.main-list::after {
		display: none;
	}

	.header__logo::before {
		content: "";
		position: absolute;
		width: 2px;
		height: 32px;
		left: 60px;
		top: 50%;
		transform: translate(-50%, -50%);
		border-radius: 1px;
		background: rgb(234, 234, 234);
	}

	.addon-list {
		display: flex;
		margin-right: 42px;
		position: relative;
	}

	.call {
		background-image: url(image/ic_call.svg);
		background-repeat: no-repeat;
		background-position: 11px 11px;
	}

	.chat {
		background-image: url(image/ic_chat.svg);
		background-repeat: no-repeat;
		background-position: 10px 11px;
	}

	.profile {
		background-image: url(image/ic_profile.svg);
		background-repeat: no-repeat;
		background-position: 10px 10px;
	}

	.addon-list::after {
		content: "";
		position: absolute;
		width: 2px;
		height: 32px;
		right: -23px;
		top: 50%;
		transform: translate(-50%, -50%);
		border-radius: 1px;
		background: rgb(234, 234, 234);
	}

	.header__title {
		margin: 32px 18px;
	}

	.header__title::before {
		left: -16px;
	}


	/* NAVIGATION */
	.service-nav {
		margin-left: 24px;
	}


	/* INFORMATION */
	.about-company {
		flex-direction: row;
		justify-content: space-between;
		gap: 48px;
		margin: 0 24px;
	}

	.about-company__text {
		margin: 0;
		min-width: 312px;
		max-width: 50%;
		flex-grow: 1;
	}
	

	.about-company__fragment {
		line-height: 20px;
	}

	.about-company__fragment:nth-child(2) {
		display: block;
	}

	.about-company__fragment--hidden {
		display: none;
	}

	.about-company__image {
		border-radius: 5px;
	}
}