body {
	background: rgb(248, 248, 248);
	font-family: TT Lakes;
	font-weight: 400;
	font-size: 14px;
}

/* HEADER */
.header__menu {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 16px;
	height: 88px;
	background: rgb(255, 255, 255);
	border-bottom: 1px solid #D9FFF5;
}

.header__elements-list {
	display: flex;
	align-items: center;
	gap: 16px;
}

.main-list {
	position: relative;
}

.main-list::after {
	content: "";
	position: absolute;
	width: 2px;
	height: 32px;
	right: -20px;
	top: 50%;
	transform: translate(-50%, -50%);
	border-radius: 1px;
	background: rgb(234, 234, 234);

}

.header__item {
	width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #FF3E79;
}

.burger {
	background-image: url(image/ic_burger.svg);
	background-repeat: no-repeat;
	background-position: 10px 12px;
}

.logo {
	background: url(image/logo.svg) no-repeat;
	display: block;
	width: 98px;
	height: 52px;
}

.header__right-list {
	display: flex;
}

.header__item-name {
	display: none;
}

.repair {
	background-image: url(image/ic_repair.svg);
	background-repeat: no-repeat;
	background-position: 10px 10px;
}

.checkstatus {
	background-image: url(image/ic_checkstatus.svg);
	background-repeat: no-repeat;
	background-position: 12px 10px;
}

.addon-list {
	display: none;
	position: relative;
}

.header__title {
	margin: 24px 16px;
	position: relative;
}

.header__title::before {
	content: "";
	position: absolute;
	left: -14px;
	top: 50%;
	transform: translate(-50%, -50%);
	height: 40px;
	width: 4px;
	border-radius: 0px 10px 10px 0px;
	background: rgb(65, 246, 215);
}

.title {
	color: rgb(27, 28, 33);
	font-family: TT Lakes;
	font-size: 28px;
	font-weight: 700;
	line-height: 40px;
	letter-spacing: -0.6px;
	text-align: left;
}

/* NAVIGATION */
.service-nav {
	margin-bottom: 24px;
	margin-left: 16px;
}

.service-list {
	display: flex;
	flex-wrap: nowrap;
	overflow-x: auto;
	scrollbar-width: none;
}

.service-list__item {
	display: block;
	padding: 8px 16px;
	flex-shrink: 0;
	font-size: 16px;
	font-weight: 500;
	line-height: 24px;
	letter-spacing: -0.2px;
	text-align: left;
	color: rgb(126, 126, 130);
	border: 2px solid transparent;
	border-radius: 6px;
}

.service-list__item:hover {
	border-color: rgb(184, 255, 236);
	background: rgb(255, 255, 255);
}

/* INFORMATION */
.about-company {
	display: flex;
	flex-direction: column;
	gap: 56px;
}

.about-company__text {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	gap: 16px;
	height: 90px;
	align-self: flex-start;
	margin: 0 16px;
}

.about-company__fragment {
	color: rgb(27, 28, 33);
	font-size: 14px;
	font-weight: 400;
	line-height: 18px;
	letter-spacing: 0.2px;
	text-align: left;
}

.about-company__fragment:nth-child(2) {
	display: none;
}

.about-company__button-read-more {
	align-self: flex-start;
	position: relative;
	margin-left: 32px;
	color: rgb(27, 28, 33);
	font-weight: 500;
	line-height: 24px;
	letter-spacing: -0.2px;
	text-align: left;
	align-self: flex-start;
}

.about-company__button-read-more::before {
	content: "";
	background: url(image/ic_expand.png) no-repeat;
	position: absolute;
	height: 24px;
	width: 24px;
	left: -22px;
	top: 50%;
	transform: translate(-50%, -50%);
}

.about-company__image-office {
	flex: 1 1 auto;
}

.about-company__image {
	width: 100%;
}